/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap");

/* @font-face {
  font-family: "Encode Sans Condensed";
  src: url(../fonts/EncodeSansCondensed-Regular.ttf), format("truetype");
  font-display: swap;
} */

body,
html {
  font-family: "Encode Sans Condensed", sans-serif !important;
  background-color: #ebeaea !important;
}

li {
  list-style-type: none;
}
